 {% extends 'blog/base.html' %}

 {% block body %}
 <div class="container d-flex justify-content-center">
 <form action="" method="POST" novalidate enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} 
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
    {% endif %}
    {% for fm  in form %}
    
        {{fm.label_tag}}{{fm}}{{fm.errors|striptags}}</br></br>
    
    {% endfor %} {% endcomment %}
    <!--Below is our main file upload input -->
    <div>
        <label for="title">Title</label>
        <input type = "text" name = 'title'>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea name = 'description' ></textarea>
    </div>
    <div>
        <label for="title">Image</label>
        <input type = "file" name ='documents' multiple>
    </div>
    <input type="submit" value="Add Blog" class="btn btn-success" >
</form>
</div>
 {% endblock body %}



