{% extends 'blog/base.html' %}

{% block body %}

{% if messages %}
{% for message in messages %}
    <small {% if messages.tags%} class="{{message.tags}}" {%endif%}>{{message}}</small>
{% endfor %}
{% endif %}


<div class="container">
    <h1>Welcome {{name}}</h1>
    <div class="row">

        <div class="col-md-8 bg-secondary my-5">
            <h1>
                {{blog.title}}
            </h1>
            {% for img in images %}
            <img src="{{img.image.url}}" alt="image" class="img-thumbnail" height="200px" width="200px"> 
            {% endfor %} 
            {{blog}}
            <p>{{blog.description}}</p>

            <p class="text-white">Author : {{blog.author}}</p>
            <p class="text-white">Created on : {{blog.created_on}}</p>
            <p class="text-white">Last Update : {{blog.updated_on}}</p>

            {% comment %} <a href="{%url 'updateblog' blog.id%}" class="btn btn-success"> Update</a>
            <a href="{%url 'deleteblog' blog.id%}" class="btn btn-danger"> Delete</a> {% endcomment %}

            
        </div>
  

        <div class="col-md-4">

        </div>
    </div>
</div>



    {% endblock body %}