            
                <section class="experience section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineer- <span class="place"><a href="#">Decodders</a></span> <span class="year">(Jan 2022 - Present)</span></h3>
                                <p>Designed and managed API system Deployment.
                                    Cognitively skilled to utilize research and analytics engine. Elastic Search
                                    Resolved ongoing problems and accurately documented progress of project.
                                    Implement Project enhancements and suggest improvements.
                                    </p>
                            </div><!--//item-->
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->