<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="container text-center">
            <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed By Aakash Modi</small>
    </div><!--//container-->
</footer><!--//footer-->

<!-- Javascript -->          
<script type="text/javascript" src="static/plugins/popper.min.js"></script> 
<script type="text/javascript" src="static/plugins/bootstrap/js/bootstrap.min.js"></script>    
<script type="text/javascript" src="static/plugins/vanilla-rss/dist/rss.global.min.js"></script> 
<script type="text/javascript" src="static/plugins/dark-mode-switch/dark-mode-switch.min.js"></script> 
<!-- github calendar plugin -->
<script type="text/javascript" src="static/plugins/github-calendar/dist/github-calendar.min.js"></script>
<!-- github activity plugin -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<script type="text/javascript" src="static/plugins/github-activity/src/github-activity.js"></script>
<!-- custom js -->
<script type="text/javascript" src="static/js/main.js"></script>        