    <!-- other projects starting -->
    <section class="projects section">
        <div class="section-inner shadow-sm rounded">
            <h2 class="heading">Other Projects</h2>
            <div class="content">
                <div class="item">
                    <h3 class="title">MOVIES OF SORTING<span class="year">(01/2021-02/2021)</span></h3>
                    <p class="summary">Kind of learning web application based on the visualization of various sorting
                        Algorithms.
                        Written Function’s for each sorting algorithm</p>
                    <p><a class="more-link" href="https://akashmodi371.github.io/sorting-Algorithm-analysis/" target="_blank"><i class="fas fa-external-link-alt"></i>View Here</a></p>
                </div><!--//item-->
                <div class="item">
                    <h3 class="title"><a href="#" target="_blank">IMPLEMENTATION OF ELASTIC SEARCH OVER THE REALWORLD
                        PROJECT</a></h3>
                    <p class="summary">Making search faster overthe project elastic search is implemented in the
                        project where using REST API and elastic search keywords are identified and
                        indexing it according to priority</p>
                    <p><a class="more-link" href="https://github.com/Akashmodi371/Elastic-search-implementation" target="_blank"><i class="fas fa-external-link-alt"></i>View Here</a></p>
                </div><!--//item-->
    
                
                <a class="btn btn-cta-secondary" href="https://github.com/Akashmodi371">More on GitHub <i class="fas fa-chevron-right pt-1"></i></a>
                
            </div><!--//content-->  
        </div><!--//section-inner-->                 
    </section><!--//section-->
    <!-- other projects end-->